.primary_text {
  font-family: 'Encode Sans',sans-serif;
  font-size: 2rem;
}

.secondary_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.tertiary_text{
  font-family: 'Encode Sans', sans-serif;
  font-size: 1rem;
}